html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--step--2: clamp(0.72rem, calc(0.5rem + 0.3vw), 0.56rem);
	--step--1: clamp(0.68rem, calc(0.59rem + 0.44vw), 0.9rem);
	--step-0: clamp(0.81rem, calc(0.69rem + 0.61vw), 1.13rem);
	--step-1: clamp(0.98rem, calc(0.81rem + 0.84vw), 1.41rem);
	--step-2: clamp(1.17rem, calc(0.94rem + 1.15vw), 1.76rem);
	--step-3: clamp(1.4rem, calc(1.09rem + 1.55vw), 2.2rem);
	--step-4: clamp(1.69rem, calc(1.27rem + 2.07vw), 2.75rem);
	--step-5: clamp(2.02rem, calc(1.47rem + 2.75vw), 3.43rem);
	--very_dark_grayish_blue: hsl(217, 19%, 35%);
	--desaturated_dark_blue: hsl(214, 17%, 51%);
	--grayis_blue: hsl(212, 23%, 69%);
	--light_grayish_blue: hsl(210, 46%, 95%);
}

/* 
MOBILE :
*/

body {
	background-color: var(--grayis_blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 4rem auto;
	border-radius: 40px;
}

.header__img {
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.main {
	background-color: var(--light_grayish_blue);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: -0.5rem;
}

.text {
	padding: 1.5rem;
}

.main__title {
	font-family: "Manrope", sans-serif;
	font-weight: 700;
	font-size: var(--step-0);
	color: var(--very_dark_grayish_blue);
}

.main__text {
	font-family: "Manrope", sans-serif;
	font-weight: 500;
	font-size: var(--step--1);
	opacity: 0.7;
	margin-top: 0.8rem;
	color: var(--very_dark_grayish_blue);
}

.share__section {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.author {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 0 0 0rem 1.5rem;
}

.avatar {
	width: 3rem;
	border-radius: 100%;
}

.name {
	font-family: "Manrope", sans-serif;
	font-weight: 700;
	font-size: var(--step--1);
}

.date {
	font-family: "Manrope", sans-serif;
	font-weight: 500;
	font-size: var(--step--1);
	opacity: 0.7;
}

.btn {
	padding: 0 1.5rem 0rem 0;
}

.share__btn {
	border-radius: 100%;
	padding: 0.5rem;
	background-color: var(--grayis_blue);
	border: none;
	position: relative;
	z-index: 1;
}

.share__btn:hover {
	background-color: #fff;
}

.share__options {
	display: flex;
	position: absolute;
	gap: 1rem;
	background-color: var(--very_dark_grayish_blue);
	width: 100%;
	height: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 1rem;
	visibility: hidden;
}

.share__text {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: "Manrope", sans-serif;
	color: var(--light_grayish_blue);
	font-size: var(--step--1);
	align-self: center;
	opacity: 0.7;
}

/* 
DESKTOP:
*/

@media (min-width: 700px) {
	body {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		margin: 0 auto;
	}

	.header {
		width: 50%;
		display: flex;
		justify-content: end;
	}

	.header__img {
		height: 20rem;
		width: 30rem;
		border-bottom-left-radius: 10px;
	}

	.main {
		margin: 0 0 0 -7rem;
		width: 40%;
		max-width: 40rem;
		height: 20rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		border-bottom-left-radius: 0;
		border-top-right-radius: 10px;
		padding: 1rem;
		position: relative;
	}

	.share__options {
		width: 17rem;
		border-radius: 10px;
		left: 21.4rem;
		top: -4rem;
	}

	.share__options::before {
		content: " ";
		width: 1rem;
		background-color: var(--very_dark_grayish_blue);
		position: relative;
		top: 1.5rem;
		left: 7.3rem;
		transform: rotate(45deg);
	}
	.attribution {
		position: absolute;
		top: 10%;
	}
}
